:root {
  /* widths */
  --max-width-full: 100%;

  /* spacing */
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-12: 3rem;

  --font-family: "Parametric Glitch";

  /* font weight*/
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* font size */
  --font-size-root: 18px;
  --font-size-4: 2.197rem;
  --font-size-5: 2.747rem;
  --font-size-6: 3.433rem;

  /* line height */
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;

  /* colours */
  --colour-brand: oklch(63.64% 0.196 35.39); /* flamingo */
  --colour-dark: oklch(41.32% 0.018 285.58); /* abbey */
  --colour-surface: oklch(92.67% 0.012 239.91); /* mystic */
}
