@font-face{
  font-family:parametric glitch;
  font-style:normal;
  font-weight:400;
  src:local('Parametric Glitch'),url('https://fonts.cdnfonts.com/s/55098/Parametric Glitch.woff') format('woff')
}
